




<div id="hero-unit">
	<div class="grid">
		<div class="grid__item three-tenths lap-two-tenths palm-one-whole">
		</div><div class="grid__item seven-tenths lap-eight-tenths palm-one-whole">
	<p id="hero-text">
		The world is complicated enough without confusing and inhuman design, so let's make it simpler.
		Let's strip away the mess and the fuss and think a little freer. I am a web designer, and I 
		believe in getting the design out of the way.
	</p>
</div>
</div>
</div>


<div class="grid">
	
	
	<div class="grid__item two-thirds">
	Two thirds
	</div><div class="grid__item one-third">
	One third
	</div>



</div>