<script type="text/javascript">



$(document).ready(function() {

	// $('#ri-grid').gridrotator();

	enquire.register("screen and (max-width:480px)", {

		match : function() {
			$('#me-text').removeClass('text-cols--2');
    },      // REQUIRED

    unmatch : function() {
    	$('#me-text').addClass('text-cols--2');
    }, 

}).listen();



	$('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	});


}); // end ready
</script>



<section name="anchor-zero" id="hero-unit">

	<div class="grid">
		<div class="grid__item three-tenths palm-one-whole">
		</div><div class="grid__item seven-tenths palm-one-whole">
		<p id="hero-text">
			Let's strip away the mess and the fuss and think a little clearer. My name is Colin Brooks, and I like
			to make things.
		</p>
	</div>
</div>

</section>


<div class="grid">
	<div class="margin-five">


		<div class="unit-spacing">

			<div class="grid__item one-quarter">


				<div id="me-image">
					<img src="/assets/me.jpg" class="img--left">
				</div>

			</div><div class="grid__item three-quarters">

			<div id="me-content">	
				<h1 class="friendly-header">< Me</h1>
				<p id="me-text" class="text-cols--2">
					I'm originally from Seattle, WA. I'm currently set to graduate this May from Grinnell College with a degree in General Science: Computer Science, with a concentration in Neuroscience. My interests have always been a bit all over the place, but I've always loved creating things and have never been far from an art project. I've spent my summers working with at-risk youth outside of Seattle, doing art in the park with kids in Grinnell, and working on the IT infrastructure at a small mental health and counseling organization.
					<br><br>

					The even more shortened version of it is: I like people, art, and technology.
					
				</p>

			</div>
		</div>
	</div>
</div>


<section name="anchor-one" class="gray">

	<div class="margin-five">
		<div class="unit-spacing">

			<div class="grid__item one-whole">

				<div id="cs-content">
					<h1 id="cs-header" class="clean-header">CS</h1>
					<p>
						<em class="quote">
							"No sensible decision can be made any longer without taking into account not only the world as it is, but the world as it will be." - Isaac Asimov
						</em>
					</p>
					
					<p>
						With my major primarily centered around computer science, I've worked with a variety of languages and technologies. Just as importantly, I've worked with a wide variety of people through peer-programming and group projects. 
					</p>
					<p>
						This past academic year I've working heavily on building a new web application for the Grinnell Localfoods Coop. As a part of this, I've been learning about design principals and practices with a the help of a mentor, while taking charge of the UX design and the related technologies. More generally my experience includes:
					</p>


					<div class="grid">
						<div class="grid__item one-third palm-one-whole">
							<p>
								<h5 class="list-header">Code</h5>
								<ul>
									<li>C</li>
									<li>Java</li>
									<li>Scheme</li>
									<li>Ruby & Ruby on Rails</li>
									<li>HTML5</li>
									<li>CSS3</li>
									<li>LESS & SASS</li>
									<li>Javascript</li>
									<li>Jquery</li>
									<li>Twitter Bootstrap</li>
									<li>Inuit.css</li>
								</ul>

							</p>
						</div><div class="grid__item one-third palm-one-whole">
						<p>
							<h5 class="list-header">Management</h5>
							<ul>
								<li>SQL</li>
								<li>Git & GitHub</li>
								<li>WordPress</li>
								<li>Google for nonprofits</li>
								<li>Salesforce.com</li>
							</ul>

						</p>

					</div><div class="grid__item one-third palm-one-whole">
					<p>
						<h5 class="list-header">Projects</h5>
						<ul>
							<li>Grinnell Localfoods Coop web app</li>
							<li>Evaluating CRM software for a nonprofit</li>
							<li>Transitioning a nonprofit to Google apps & services, including training</li>
							<li>This site</li>
						</ul>

					</p>
					
				</div>
			</div>



		</div>
	</div>
</div>
</div>

<!-- End of anchor one -->
</section>


<section name="anchor-two">

	<div class="margin-five">
		<div class="unit-spacing">

			<div class="grid__item one-third palm-one-whole">

				<h1 id="photography-header" class="clean-header">Photography</h1>
				<p id="photography-text">
					<em class="quote">“When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.” - Ansel Adams </em>
				</p>

				<p>
					As much as I hate to use the word, photography has been a passion of mine for a long time now. The process of thinking about how to represent a moment in time or a place, and how that representation will be interpreted is something I have never grown tired of. For the last 3 and half years I've worked at the Grinnell College Darkroom, and managed it for the last 2.
				</p>
				<p>
					I have extensive experience with:
					<ul>
						<li>Digital cameras & equipment</li>
						<li>Film developing & enlarging</li>
						<li>Flashes & basic lighting</li>
						<li>Adobe Photoshop</li>
						<li>Adobe Lightroom</li>
						<li>Flickr & 500px</li>
					</ul>
				</p>

			</div><div class="grid__item two-thirds palm-one-whole">

			<div id="photo-box">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="assets/photography/1.jpg">
							<img src="assets/photography/1.jpg" />
						</li>
						<li data-thumb="assets/photography/2.jpg">
							<img src="assets/photography/2.jpg" />
						</li>
						<li data-thumb="assets/photography/3.jpg">
							<img src="assets/photography/3.jpg" />
						</li>
						<li data-thumb="assets/photography/4.jpg">
							<img src="assets/photography/4.jpg" />
						</li>
						<li data-thumb="assets/photography/5.jpg">
							<img src="assets/photography/5.jpg" />
						</li>
						<li data-thumb="assets/photography/6.jpg">
							<img src="assets/photography/6.jpg" />
						</li>
						<li data-thumb="assets/photography/7.jpg">
							<img src="assets/photography/7.jpg" />
						</li>
						<li data-thumb="assets/photography/8.jpg">
							<img src="assets/photography/8.jpg" />
						</li>
					</ul>
				</div>
			</div> 


		</div>
	</div>
</div>



<!-- End of anchor two -->
</section>



<section name="anchor-three">

	<div class="margin-five">
		<div class="unit-spacing">

			<div class="grid__item one-whole">

				<div id="contact-content">
					<h1 class="clean-header">Contact Me</h1>
					<p id="contact-text">
						Form will go here. Also, add another big nice image here.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- End of anchor two -->
</section>








<!-- End of grid -->
</div> 

<br><br><br><br><br><br><br><br><br>