<footer id="main-footer">

	<div class="grid">
		<div class="grid__item one-whole">
			<ul class="nav nav--banner">
			<li><a href="http://www.flickr.com/pandadumpster" class="footer-link" >Flickr</a></li> 
			<li><a href="http://www.twitter.com/colinbooks" class="footer-link" >Twitter</a></li>
			<li><a href="http://noisyfuture.tumblr.com" class="footer-link" >Tumblr</a></li>
			<li><a href="https://github.com/brooksco/folio" class="footer-link">GitHub</a></li>
			</ul>

			<small>© 2013 Colin Brooks</small>

		</div>

	</div>

</footer>