<script type="text/javascript">
$(document).ready(function() {


	$('#main-header, #scroll-main-header').localScroll({duration:800, offset: -50});

	// $('#navbar').sticky({topSpacing:0});

	enquire.register("screen and (min-width:481px)", {

		match : function() {

			$('#me-content').waypoint(function(direction) {
				if(direction == 'down') {
					$('#scroll-header').fadeIn();
				} else {
					$('#scroll-header').fadeOut();
				}

			}, { offset: 150 });

    },     // REQUIRED

}).listen();



// $('#navbar a').click(function() {
// 	// remove active class from all anchors
// 	$('#scroll-navbar a').removeClass('active-nav');
// 	// add active class for the current anchor
// 	$(this).addClass('active-nav');

// });


}); // end ready
</script>


<div class="grid">

	<div id="main-header" class="margin-five">
		<div class="grid__item four-tenths palm-one-whole">

			<!-- <img src="/assets/cb_1_777.png" class="logo"> -->

			<a id="name-link" href="/">
				<h3 id="name">Colin Brooks</h3>
			</a>

		</div><div class="grid__item six-tenths palm-one-whole">

		<nav id="navbar" class="nav  nav--block nav--banner">
			<li><a href="#anchor-two">CS</a></li>
			<li><a href="#anchor-three">Photography</a></li>
			<li><a href="#anchor-four">Contact</a></li>
		</nav>

	</div>
</div>

</div>

<div id="scroll-header">
		<div class="grid">

			<div id="scroll-main-header" class="margin-five">
				<div class="grid__item four-tenths palm-one-whole">

				<a href="#anchor-zero">
				<img src="/assets/cb_1_777.png" class="logo">
				</a>
				
				</div><div class="grid__item six-tenths palm-one-whole">

				<nav id="scroll-navbar" class="nav  nav--block nav--banner">
					<li><a href="#anchor-one">Abstract</a></li>
					<li><a href="#anchor-two">CS</a></li>
					<li><a href="#anchor-three">Photography</a></li>
					<li><a href="#anchor-four">Contact</a></li>
				</nav>

			</div>
		</div>


</div>

</div>
